@mixin flex($items: flex-start, $contents: flex-start, $column: false) {
    display: flex;
    place-content: $contents;
    place-items: $items;

    @if $column {
        flex-direction: column;
    } @else {
        flex-direction: row;
    }

    &.wrap {
        flex-wrap: wrap;
    }

    &.center {
        place-content: center;
        place-items: center;
    }

    &.column {
        flex-direction: column;
    }

    &.vertical-center {
        place-content: flex-start;
        place-items: center;
    }

    &.horizontal-center {
        place-content: center;
        place-items: flex-start;
    }
}
